.sos-blink {
  width: 24px;
  height: 24px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.8);
  animation: blink 1s infinite alternate;

  transform-origin: center center;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

@keyframes blink {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.4;
    transform: scale(1.3);
  }
}
